
.navbar-bg{
  background-color: darkslategray !important;
}
.empty{
  padding-top: 100px;
  padding-bottom: 100px;

}
.container-size{
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}
.user-3{
  margin: 0 auto;
}
.col-size{
  max-height: 300px !important;
  min-height: 300px !important; 
}